In [4]:
import pandas as pd

In [5]:
ifile1 = "Resources/schools_complete.csv"
ifile2 = "Resources/students_complete.csv"

school_data = pd.read_csv(ifile1)
student_data = pd.read_csv(ifile2)

cd = pd.merge(student_data, school_data, how = 'left',on = ['school_name','school_name'])

cd.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
tsch = len(cd['school_name'].unique())
tst = cd['student_name'].count()
tb = sum(cd['budget'].value_counts().index)

In [11]:
i = 'Student ID'
j = 'STI'
cd = cd.rename(columns={i:j})
mpass = student_data['math_score'] >= 70
cd.head()

,STI,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [17]:
mpass.value_counts().values[0]

29370

In [8]:
school_group = cd.groupby('school_name')

In [9]:
def func(i):
    ipass = i >= 70
    return (ipass.value_counts().array[0]/ipass.count())*100

In [10]:
aggr = school_group.agg({
    'reading_score': ['mean',func],
    'math_score':['mean',func]
})
one = aggr['reading_score']['func'].add(aggr['math_score']['func'])/2
one.head()
# final = pd.merge(aggr,school_data,how='outer',on='school_name')
# final.head()

school_name
Bailey High School      74.306672
Cabrera High School     95.586652
Figueroa High School    73.363852
Ford High School        73.804308
Griffin High School     95.265668
Name: func, dtype: float64

In [ ]:
school_data.head()

In [ ]:
gb2 = cd.groupby(['school_name','grade'])

gb2.mean()